/* Hero */
.hero {
    padding: 80px 0;
  }
  .cta-buttons .btn {
    min-width: 150px;
  }
  .hero-stats .stat-item {
    margin-bottom: 15px;
  }
  .hero-image {
    max-width: 100%;
    position: relative;
  }
  .hero-image img {
    width: 100%;
    max-width: 400px;
  }
  .shape-1, .shape-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .shape-1 {
    top: -10px;
    left: -10px;
  }
  .shape-2 {
    bottom: -10px;
    right: -10px;
  }
  @media (max-width: 767px) {
    .hero {
      text-align: center;
    }
    .hero-stats {
      flex-direction: column;
    }
    .hero-image img {
      max-width: 300px;
    }
  }
/* Hero */

  /* About */
  .about .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .about .personal-info .inf0o-item {
    font-size: 1rem;
    text-align: center;
  }

  @media (max-width: 767px) {
    .about .personal-info .info-item {
      text-align: left;
    }
  }
  /* About */

  /* Skills */
  .skill-box {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .title-shape {
    width: 100px;
    height: 4px;
    /* background-color: #007bff; */
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    .section-title h2 {
      font-size: 24px;
    }
  }
  /* Skills */